:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255, 225, 225,0.3);
    font-size: 10px;
}

* {
margin: 0;
padding: 0;
outline: none;
border: none;
text-decoration: none;
text-transform: capitalize;
transition: 0.2 linear;
font-family: "Roboto",  sans-serif;
}

body {
    background-color: var(--bg);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    z-index: 99;
    border-bottom: var(--border);
}
.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #fff;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    font-size: 1.3rem;
}

.icon img {
    margin: 1rem;
    cursor: pointer;
}

.icon img:hover {
    width: 40px;
    height: 40px;
}

.btn {
    background: var(--main-color);
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
}

.index-container {
    background: url("img/home-img.jpg");
    background-position: center;
    background-size: cover;
}

.index-container section {
    display: flex;
    align-items: center;
    height: 100vh;
}

.sobre-container {
    background: url("img/home-img.jpg");
    background-position: center;
    background-size: cover;
}

.sobre-container section {
    display: flex;
    align-items: center;
    height: 100vh;
}

.menu-container {
    background: url("img/home-img.jpg");
    background-position: center;
    background-size: cover;
}

.menu-container section {
    display: flex;
    align-items: center;
    height: 100vh;
}

.avaliacoes-container {
    background: url("img/home-img.jpg");
    background-position: center;
    background-size: cover;
}

.avaliacoes-container section {
    display: flex;
    align-items: center;
    height: 100vh;
}

.enderecos-container {
    background: url("img/home-img.jpg");
    background-position: center;
    background-size: cover;
}

.enderecos-container section {
    display: flex;
    align-items: center;
    height: 100vh;
}
.carrinho-container {
    background: url("img/home-img.jpg");
    background-position: center;
    background-size: cover;
}

.carrinho-container section {
    display: flex;
    align-items: center;
    height: 100vh;
}

.content {
    max-width: 60rem;
}

.content h3 {
color: #fff;
font-size: 10rem;
}

.content p {
    color: #fff;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    padding: 1rem 0;
}

.menu-container {
    padding-top: 120px; /* ajusta conforme a altura do header */
    text-align: center;

}

.titulo-galeria {
    font-size: 50px;
    margin-bottom: 30px;
    color:#fff;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1px;
    column-gap: 20px
}

.item {
    background-color: #fff;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
}

.item:hover {
    transform: scale(1.05);
}

.item img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
}